@import "styles/colors";
@import "styles/screens";


.main {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 0;

  > *:not(h1) {
    width: 300px;
    margin: 20px 0;
    padding: 0!important;
  }

  > h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    padding: 130px 0;
    > *:not(h1) {
      width: 770px;
      margin: 30px 0;
    }
    > h1 {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
