@import "styles/screens";


.main {

  display: flex;
  flex-direction: column;
  width: 300px;
  align-self: center;

  &__mainImage {
    width: 100%;

    > img {
      width: 100%;
      height: auto;
    }
    margin-bottom: 10px;
  }

  &__subImages {
    display: flex;
    flex-direction: column;

    width: 100%;

    > div {
      margin-bottom: 10px;
    }

    > div,
    > div, img {
      width: 100%;
    }

  }

  @media screen and (min-width: $tablet) {
    width: 771px;
    flex-direction: row;
    justify-content: space-between;

    &__mainImage {
      height: 490px;
      width: 490px;
      margin-bottom: 0;

      > div,
      > div > img {
        width: 100%;
        height: auto;
      }
    }

    &__subImages {
      margin-left: 23px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;

      > div,
      > div > img {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}
