@import "styles/colors";
@import "styles/screens";


.main {

  width: 100%;
  transition: all 200ms;
  &.active {
    background-color: rgba($light-grey, 0.3);
    > a {
      text-decoration: none;
    }
  }

  > div {
    padding: 0 20px;
  }

  > a {
    color: $primary;
    transition: all 200ms;
    width: calc(100% - 40px);
    padding: 10px 20px;

    &:hover {
      background-color: rgba($light-grey-1, 0.8);
      text-decoration: none;
      opacity: 0.7;
    }
  }
}
