@import "styles/colors";
@import "styles/screens";


.main {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: $max-section-width;
  height: 400px;
  padding: 0!important;
  transition: background 1000ms;

  @media screen and (min-width: $tablet) {
    height: 610px;
  }

  > div {
    width: 100%;
    height: 100%;
  }
}
